@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 80%;
    margin: auto;
    margin-top: 2rem;
    height: 80%;
}

img {
    width: 50px;
    border-radius: 100%;
}

.msg-header {
    border: 1px solid #ccc;
    background-color: #efefef;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.container1 {
    float: left;
}

.active {
    float: left;
    color: black;
    font-weight: bold;
}

.chat-page {
    padding: 0 0 50px 0;
}

.msg-inbox {
    border: 1px solid #ccc;
    overflow: hidden;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.chats {
    padding: 30px 15px 0 25px;
}

.msg-page {
    max-height: 500px;
    overflow-y: auto;
}

.msg-bottom {
    border-top: 1px solid #ccc;
    height: 11%;
    background-color: #efefef;
}

.input-group {
    float: right;
    margin-top: 13px;
    margin-right: 20px;
}

.form-control {
    border: none;
    border-radius: 20px;
}

.input-group-text {
    background: transparent;
    cursor: pointer;
}

.received-chats, .outgoing-chats {
    margin: 26px 20px;
}

.received-chats img, .outgoing-chats img {
    width: 50px;
}

.received-msg-inbox p, .outgoing-chats-msg p {
    border-radius: 10px;
    padding: 1rem;
}

.received-msg-inbox p {
    background: #efefef;
    color: #646464;
}

.outgoing-chats-msg p {
    background-color: #3a12ff;
    color: white;
}

.time {
    color: #777;
    font-size: 12px;
}

/* Responsive Styles */
@media only screen and (max-device-width: 850px),
only screen and (max-device-width: 450px) {
    * {
        font-size: 28px;
    }
    img {
        width: 65px;
    }
    .msg-header {
        height: 5%;
    }
    .msg-page {
        max-height: none;
    }
}
